* {
    font-family: Verdana, sans-serif;
    font-size: large;
}

.page_top{
    position: flex;
    width: 100%;
    align-items: center;
    list-style: none;
}

.page_top button{
    position: absolute;
    left: 6px;
    font-size: large;
    cursor: pointer;
    border: black solid 2px;
    border-radius: 20px;
    width: 180px;
    height: 30px;
    font-size: medium;
}

.page_top button:hover{
    background-color: gray;
}

.page_top button:active{
    background-color: rgb(94, 94, 94);
}

.page_top h1{
    text-align: center;
    font-size: x-large;
    text-decoration: underline;
}

h2{
    text-align: center;
}

.nav {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.nav ul {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
    padding: 0;
    list-style: none;
}

.calendar {
    float: left;
    width: 49%;
    outline: 3px solid black;
    background-color: cadetblue;
}

.programme{
    float: right;
    width: 49%;
    outline: 3px solid black;
    background-color: lightgray;
}

.month-year {
    font-weight: bold;
    font-size: x-large;
    text-align: center;
}

.weekdays {
    display: grid;
    grid-template-columns: repeat(7, 1fr); /* 7 equal columns */
    justify-content: center;
    list-style: none;
    outline: 2px solid black;
    background-color: azure;
    padding: 20px 0;
    text-align: center;
}

.days {
    display: grid;
    grid-template-columns: repeat(7, 1fr); /* 7 equal columns */
    grid-template-rows: repeat(6, 1fr); /* up to 6 weeks */
    justify-content: center;
    padding: 20px 0;
    background-color: azure;
    list-style: none;
    text-align: center;
    row-gap: 50px;
}

.days li {
    display: flex;
    justify-content: center;
    align-items: center;
}

.days button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: large;
    justify-content: center;
    background-color: azure;
    border: none;
    cursor: pointer;
}

.days button.selected {
    outline: 3px solid black;
    background-color: lightgray;
    font-weight: bold;
}

.days button:hover {
    background-color: gray;
}

.days button:active {
    background-color: rgb(94, 94, 94);
}

.day-details {
    justify-self: center;
}
