* {
    font-family: Verdana, sans-serif;
    font-size: large;
}

h2{
    text-align: center;
    text-decoration: underline;
}

button{
    cursor: pointer;
    border: black solid 2px;
    border-radius: 20px;
    width: 180px;
    height: 30px;
    font-size: medium;
}

button:hover{
    background-color: lightgray;
}

button:active{
    background-color: gray;
}

.page_top{
    position: flex;
    width: 100%;
    align-items: center;
    list-style: none;
}

.page_top button{
    position: absolute;
    left: 6px;
}

.page_top h1{
    text-align: center;
    font-size: x-large;
    text-decoration: underline;
}

input, label{
    display: flex;
    flex-direction: column;
}

fieldset, input, select{
    border-radius: 20px;
}

select{
    cursor: pointer;
}

select:hover{
    background-color: lightgray;
}

.soldier_management{
    justify-self: center;
}

.button_wrapper{
    padding-top: 10px;
    text-align: center;
}

.soldiers_ul{
    list-style: none;
    padding: 0;
    text-align: center;
}

.soldiers_ul li{
    width: 50%;
    padding: 5px;
    margin: 0 auto 5px;
    border: black solid 1px;
    margin-bottom: 5px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li span{
    width: 25px;
    height: 25px;
    display: inline-block;
    margin-left: 5px;
    cursor: pointer;
    outline: black solid 1px;
    text-align: center;
    border-radius: 50%;
}