* {
    font-family: Verdana, sans-serif;
    font-size: large;
}

h1{
    text-align: center;
}

.nav {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.nav ul {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
    padding: 0;
    list-style: none;
}

.calendar {
    width: 100%;
    outline: 3px solid black;
    background-color: cadetblue;
}

.weekdays {
    display: grid;
    grid-template-columns: repeat(7, 1fr); /* 7 equal columns */
    justify-content: center;
    list-style: none;
    background-color: cadetblue;
    padding: 20px 0;
    text-align: center;
}

.days {
    display: grid;
    grid-template-columns: repeat(7, 1fr); /* 7 equal columns */
    grid-template-rows: repeat(6, 1fr); /* up to 6 weeks */
    justify-content: center;
    padding: 20px 0;
    background-color: azure;
    list-style: none;
    text-align: center;
    row-gap: 50px;
}

.days li {
    display: flex;
    justify-content: center;
    align-items: center;
}

.days button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: large;
    justify-content: center;
    background-color: azure;
    border: none;
    cursor: pointer;
}

.days button:hover {
    background-color: gray;
}