* {
    font-family: Verdana, sans-serif;
    font-size: large;
}

.nav {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.nav ul {
    display: flex;
    gap: 10px;
    padding: 0;
    list-style: none;
}

.calendar {
    width: 100%;
    outline: 3px solid black;
}

.weekdays {
    display: grid;
    grid-template-columns: repeat(7, 1fr); /* 7 equal columns */
    justify-content: center;
    list-style: none;
    background-color: cadetblue;
    padding: 20px 0;
    text-align: center;
}

.days {
    display: grid;
    grid-template-columns: repeat(7, 1fr); /* 7 equal columns */
    grid-template-rows: repeat(6, 1fr); /* up to 6 weeks */
    justify-content: center;
    padding: 20px 0;
    background-color: azure;
    list-style: none;
    text-align: center;
}