h2 {
    margin-bottom: 0.5rem;
    text-align: center;
    text-decoration: underline;
}

.current-weather {
    text-align: center;
    margin-top: 1rem;
    padding: 1rem;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0px 0px 5px #ccc;
    width: 450px;
}

.forecast-list {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin-top: 1rem;
}