.hourly-list ul {
    list-style-type: none;
    padding: 0;
    overflow-y: scroll;
    height: 75vh;
}

.hourly-list li {
    margin: 0.5rem 0.5rem;
    text-align: center;
    padding: 1rem;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0px 0px 5px #ccc;
    width: 150px;
}