.misc-data-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.misc-data-list ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100%; 
}

.misc-data-list li {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 15px 0;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0px 0px 5px #ccc;
    width: 150px;
    min-height: 160px;
    padding: 10px;
}

.title {
    font-size: 1.4em;
    font-weight: bold;
    text-align: center;
    margin-bottom: 5px;
}

.data {
    font-size: 1.2em;
    text-align: center;
    margin-bottom: 5px;
}

.note {
    font-size: 0.8em;
    color: #666;
}