.App {
  background-color: #eee;
  width: 100vw;
  height: 100vh;
}

h1 {
  text-align: center;
  padding-top: 20px;
}

.search-bar-container {
  padding-top: 2vh;
  width: 40%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 200px;
}

.data-visual{
  padding-top: 2vh;
  padding-bottom: 2vh;
  width: 40%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 200px;
  outline: 2px solid #ccc;
}